{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Insight Green - ESG Compliance Management Solution</title>

	<!-- Global stylesheets -->
	<link href="{% static 'fonts/inter/inter.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'icons/phosphor/styles.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/main.css' %}" id="stylesheet" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->


	<style>
		.user-initials {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 32px;
			height: 32px;
			background-color: orange;
			color: black;
			font-weight: 600;
			border-radius: 50%;
			font-size: 15px;
			padding: 20px;
		}
	</style>

	<!-- Core JS files -->
	<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{% static 'js/vendor/tables/datatables/datatables.min.js' %}"></script>
	<script src="{% static 'js/datatables_extension_buttons_html5.js' %}"></script>
	<script src="{% static 'js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js' %}"></script>
	<script src="{% static 'js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js' %}"></script>
	<script src="{% static 'js/vendor/tables/datatables/extensions/buttons.min.js' %}"></script>
	<!-- /theme JS files -->

	<!-- Form Multiselect files -->
	<script src="{% static 'js/vendor/forms/selects/form_multiselect.js' %}"></script>
	<script src="{% static 'js/vendor/forms/selects/bootstrap_multiselect.js' %}"></script>

	<!-- Charts JS files -->
	<script src="{% static 'js/charts/loader.js' %}"></script>
	<script src="{% static 'js/charts/google/bars/combo.js' %}"></script>

	<!-- Wizard JS files -->
	<script src="{% static 'js/wizards/steps.min.js' %}"></script>
	<script src="{% static 'js/wizards/validate.min.js' %}"></script>
	<script src="{% static 'js/wizards/form_wizard.js' %}"></script>
	<script src="{% static 'js/wizards/components_modals.js' %}"></script>









	<!-- Theme JS files -->
	<script src="{% static 'js/vendor/visualization/echarts/echarts.min.js' %}"></script>

	<script src="{% static 'js/app.js' %}"></script>
	<script src="{% static 'js/assets/charts/echarts/radar/radar_basic.js' %}"></script>
	<script src="{% static 'js/assets/charts/echarts/radar/radar_filled.js' %}"></script>
	<script src="{% static 'js/assets/charts/echarts/gauge/gauge_basic.js' %}"></script>
	<script src="{% static 'js/assets/charts/echarts/gauge/gauge_custom.js' %}"></script>
	<script src="{% static 'js/assets/charts/echarts/candlesticks/candlestick_basic.js' %}"></script>
	<script src="{% static 'js/assets/charts/echarts/candlesticks/candlestick_line.js' %}"></script>
	<script src="{% static 'js/assets/charts/echarts/candlesticks/candlestick_scatter.js' %}"></script>




















	<!-- Custom script to show current year -->
	<script>
		const currentYear = new Date().getFullYear();
		document.getElementById('currentYear').textContent = currentYear;
	</script>

	 <script>
        $(document).ready(function() {
            $('.datatable-button-html5-columns').DataTable();
        });
    </script>

</head>

<body>
	<!-- Main navbar -->
	{% include 'includes/topnav.html' %}
	<!-- /main navbar -->

	<!-- Page content -->
	<div class="page-content">
		<!-- Main sidebar -->
		{% include 'includes/sidenav.html' %}
		<!-- /main sidebar -->

		<!-- Secondary Sidebar -->
		{% block secondary_sidebar %}{% endblock secondary_sidebar %}
		<!-- /secondary sidebar -->

		<!-- Main content -->
		<div class="content-wrapper">
			<!-- Inner content -->
			<div class="content-inner">
				{% block header %}{% endblock %}
				{% block content %}{% endblock %}
				{% include 'includes/footer.html' %}
			</div>
			<!-- /inner content -->
		</div>
		<!-- /main content -->
	</div>
	<!-- /page content -->
</body>
</html>
