{% extends 'base.html' %}

{% block content %}
<!-- Content area -->
				<div class="content">
<!-- Details -->
					<div class="card">
						<div class="card-body">
							<div class="d-lg-flex align-items-lg-center mb-4">
								<div class="flex-fill">
									<h5 class="mb-0">Extracted Text From {{ file_details.document_title }}</h5>
									<ul class="list-inline list-inline-bullet text-muted mb-0">
										<li class="list-inline-item">{{ file_details.organization_name }}</li>
										<li class="list-inline-item">{{ file_details.reporting_year }}</li>
									</ul>
								</div>
							</div>

							<div class="mb-4">
								<p>
                                    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% else %}
    <pre style="white-space: pre-wrap; font-family: sans-serif; font-size: 14px;">{{ extracted_text }}</pre>
{% endif %}
                                </p>
                            </div>
						</div>
					</div>
					<!-- /details -->
</div>
				<!-- /content area -->

{% endblock %}
